@{
    ViewBag.Title = "Bullseye Game";
}

@section Libs{
    <script src="~/lib/p5/p5.min.js"></script>
}

@section Scripts{
    
}

@section Instructions{
    <h4>Bullseye Game Instructions</h4>
    <p> Test instructions for the Bullseye game.</p>
}