@{
ViewBag.Title = "Game Page";
}

@section Scripts{
<script src="~/js/LoadLeaderboard.js"></script>
<script src="~/js/PostScores.js"></script>
    
<script src="~/js/games/snake/libraries/p5.min.js"></script>
<script src="~/js/games/snake/fruit.js"></script>
<script src="~/js/games/snake/snakeclass.js"></script>
<script src="~/js/games/snake/grid.js"></script>
<script src="~/js/games/snake/gameoverForm.js"></script>
<script src="~/js/games/snake/sketch.js"></script>

}
    <div class="row">
        <div class="col-lg-3 col-xs-12">
            <div class="page page-secondary">
                <h4> Snake Game Instructions</h4>
                <p>simple rendition of snake game. Use the arrow keys to change direction.</p>
            </div>
        </div>
        <div class="col-lg-6 col-xs-12">
            <div class="page page-primary">
                <div id="canvas-holder">
                    <div class="ScoreForm"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-12">
            <div class="page page-secondary">
                <!-- leaderboard card-->
                <div id="scoreboard">
                    <table class="table table-sm table-striped">
                        <thead class="thead-light">
                            <th>#</th>
                            <th>Name</th>
                            <th>Score</th>
                        </thead>
                        <tbody id="scoreTable">
                            <tr>
                                <td>1</td>
                                <td>test1</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>test3</td>
                                <td>20</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>test2</td>
                                <td>1</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>