@{
    ViewBag.Title = "Snake Game Page";
}

@section Libs{
    <script src="~/lib/p5/p5.min.js"></script>
}

@section Scripts{
    <script src="~/js/LoadLeaderboard.js"></script>
    <script src="~/js/PostScores.js"></script>
        
    <script src="~/js/games/snake/fruit.js"></script>
    <script src="~/js/games/snake/snakeclass.js"></script>
    <script src="~/js/games/snake/grid.js"></script>
    <script src="~/js/games/snake/gameoverForm.js"></script>
    <script src="~/js/games/snake/sketch.js"></script>
}

@section Instructions{
    <h4> Snake Game Instructions</h4>
    <p>simple rendition of snake game. Use the arrow keys to change direction.</p>
}